* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.horizontal-container {
  width: 100%;
  clear: both;
  padding: 20px 0;
}

.img-container {
  width: 20%;
  padding: 2px;
  border: 1px solid rgb(100,100,100);
  float: left;
  background-color: rgb(20,20,150);
}

.img-size {
  height: 200px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.donate-box {
  width: 33%;
  padding: 10px;
  border: 2px solid red;
  display: block;
  margin: 10px auto;
  clear: both;
  text-align: center;
  font-family: helvetica;
  font-style: italic;
  font-size: 24px;
  color: red;
  background-color: black;
}
p {
  display: block;
  text-align: center;
  color: white;
}
